<html>
<head>
  <title>Add Airport</title>

</head>
<body>

<h1>Please input information about the airport: </h1>
Username: {{username}} <br><br>
<form action="/airlineStaffAddAirportAction" method="POST">
  Airport Name:
  <input type="text" name="airport_name" placeholder="Airport Name" required/>
  <br>
  City:
  <input type="text" name="city" placeholder="City" required/>
  <br>
<br><br>
<br><br>
  <input type="submit" value= search />

  {% if error %}
    <p class="error"><strong>Error:</strong> {{error}}</p>
  {% endif %}
</form>

<br><br>
<a href="/airlineStaffPage">Back</a><br><br>

<a href="/logout">Logout</a>
