<html>
<head>
<title> Result </title>
</head>

<body>
  <style type="text/css">
  table, th, td{
    border: 1px solid black;
  }
  </style>

<table>
  <th>Airline</th>
  <th>Flight Number</th>
  <th>From</th>
  <th>Departure Time</th>
  <th>To</th>
  <th>Arrival Time</th>
  <th>Price</th>
  <th>Status</th>

  {% for line in result %}
    <tr>
      <td>{{line.airline_name}}</td>
      <td>{{line.flight_num}}</td>
      <td>{{line.departure_airport}}</td>
      <td>{{line.departure_time}}</td>
      <td>{{line.arrival_airport}}</td>
      <td>{{line.arrival_time}}</td>
      <td>{{line.price}}</td>
      <td>{{line.status}}</td>
    </tr>

  {% endfor %}
</table>

<a href="/flightStat">Back</a>
<a href="/">Home</a>

</body>

</html>
